/* This is added to prevent the flashing that happens when toggling between palettes */
ion-item {
  --transition: none;
}

.page-header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 50px;
}

.page-footer {
  margin-bottom: 85px;
}

ion-toast {
  --background: var(--ion-overlay-background-color);
}
