.bottom-button {
  position: fixed;
  bottom: 10px;
  left: 25px;
  right: 25px;
  width: calc(100% - 50px); /* Subtract the left and right margin */
}

/* ViewReminders */

#reminders-view ion-content {
  --background: var(--ion-background-color);
}

#reminders-view .view-reminders-header {
  justify-content: space-between;
  align-items: flex-start;
}

#reminders-view .reminder-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ViewCategories */

#categories-view ion-content {
  --background: var(--ion-overlay-background-color);
}

#categories-view ion-button {
  --border-radius: 20px;
}

#categories-view ion-item {
  --background: var(--ion-overlay-background-color);
}

/* ViewWelcome */

#welcome-view .name-input-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#welcome-view ion-input {
  --background: var(--ion-overlay-background-color);
  --border-radius: 20px;
  max-width: 80%;
  margin-top: 10px;
}
