/* ViewReminders.css */
#reminders-view ion-content {
  --background: var(--ion-background-color);
}

.view-reminders-header {
  justify-content: space-between;
  align-items: flex-start;
}

.reminder-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
