/* ViewCategories.css */

#categories-view ion-content {
  --background: var(--ion-overlay-background-color);
}

#categories-view ion-button {
  --border-radius: 20px;
}

#categories-view .save-button {
  position: fixed;
  bottom: 10px;
  left: 25px;
  right: 25px;
  width: calc(100% - 50px); /* Subtract the left and right margin */
}

#categories-view ion-item {
  --background: var(--ion-overlay-background-color);
}
