/* CategoryItem.css */

.category-item {
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

ion-checkbox {
  --size: 20px;
  --checkbox-background-checked: var(--ion-text-color);
}

ion-checkbox::part(container) {
  border: 1.5px solid var(--ion-text-color);
}
